<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">New Game +</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="<%= typeof page !== 'undefined' && page === 'games' ? 'active' : '' %>"><a href="/games">Home</a></li>
            </ul>
            <ul id="navbar-right-side" class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                <li class="<%= typeof page !== 'undefined' && page === 'sign_in' ? 'active' : '' %>"><a href="/users/sign_in">Login</a></li>
                <li class="<%= typeof page !== 'undefined' && page === 'sign_up' ? 'active' : '' %>"><a href="/users/sign_up">Sign
                        Up</a></li>
                <% } else { %>
                <li><a href="#">Signed In As
                        <%= currentUser.username %></a></li>
                <li><a href="/users/sign_out">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>