body {
  padding-top: 64px;
}
.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}

.trending {
  padding-bottom: 15px;
  font-style: italic;
}

.checked {
  color: orange;
}

#navbar-right-side {
  padding-right: 15px;
}
