<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>

    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>
    <main class="container">
        <% include ./partials/messages.ejs %>
        <!-- Landing Page needs work -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Welcome to New Game Plus!</h1>
            <p class="lead">The latest video game reviews for gamers by gamers.</p>
            <a href="/games" class="btn btn-primary btn-lg">Take me to the games!</a>
        </header>

    </main>
    <!-- /.container -->



    <% include ./partials/baseScripts.ejs %>
</body>

</html>