<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header.ejs %>
</head>

<body>

    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Welcome to New Game Plus!</h1>
            <p class="lead">The latest video game reviews for gamers by gamers.</p>
            <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

            <section class="col-lg-4">
                <h4 class="card-title">Game 1</h4>
                <p class="card-text">Information about the game.</p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title">Game 2</h4>
                <p class="card-text">Information about the game.</p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title">Game 3</h4>
                <p class="card-text">Information about the game.</p>
            </section>

        </section>
        <!-- /.row -->

    </main>
    <!-- /.container -->



    <% include ./partials/footer.ejs %>
</body>

</html>